@import "../../../components/config.styl"

.rank-wapper
  padding-top 56px
  background-image("bg.png")
  padding-bottom 50px
  .rank
    Context()
    .title-wapper
      text-align center
      .title
        image('title.png', 796px, 49px)
    .table-wapper
      margin auto
      margin-top 32px
      .info-wapper
        h = 14px
        height h
        line-height h
        font-size h
        .info
          color #a7a7a7
        .more
          float right
    .military-ranks-wapper
      h = 102px
      h1 =54px
      image('title-bg.png', 1160px, h)
      display flex
      margin-top 17px
      height h
      line-height 54px
      .military-ranks
        flex 1
        text-align center
        color #fff
      margin-bottom - (h - h1)
    .table
      width 100%
      text-align center
      h = 50px
      h2 = 45px
      .thead
        display flex
        height h
        line-height h
        margin-bottom h - h2
        .thead-td
          flex 11.11%
          max-width 11.11%
          color #438fe2
      .tr
        height h2
        line-height h2
        border-bottom 1px solid #ddddde
        display flex
        &:last-child
          border-bottom 0
        .td
          flex 11.11%
          max-width 11.11%
          &.index
            font-size 17px
            .rank-1
              margin-top 10px
              image('rank1.png',51px,26px)
            .rank-2
              margin-top 10px
              image('rank2.png',51px,26px)
            .rank-3
              margin-top 10px
              image('rank3.png',51px,26px)
          &.star
            i
              display inline-block
              image('star.png',15px,15px)
              margin-right 2px
          &.up
            color #e63636
            i
              image('up.png',15px,15px)
              margin-left 5px
          &.down
            color #2cbd36
            i
              image('down.png',15px,15px)
              margin-left 5px
          &.text-r
            text-align center

