@import "../../../components/config.styl"

.rank-wapper
  margin-top 56px
  .rank
    Context()
    .title-wapper
      text-align center
      .title
        image('title.png', 796px, 49px)
    .table-wapper
      margin-top 32px
      width 1160px
      .info-wapper
        h = 14px
        height h
        line-height h
        font-size h
        .info
          color #a7a7a7
        .more
          float right
