@import "../../components/config.styl"

.rank-wapper
  //padding-top 196px
  //background-color #dce4ec
  background linear-gradient(#dce4ec 35%,#f7f9fb)
  //text-linear-gradient()
  //padding-bottom 70px
  .rank
    Context()
    width 1200px
    .title-wapper
      padding-top 40px
      padding-bottom 30px
      text-align center

      .title
        image('dsgg.png', 796px, 49px)
    .table-wapper
      margin auto
      margin-top 40px
      margin-bottom 40px
      .info-wapper
        h = 34px
        height h
        line-height h
        font-size h
        .info
          color #a7a7a7
        .more
          float right
    .table
      width 100%
      text-align center
      //border: left right bottom  1px solid #e5e5e5
      //border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5
      background-color: #ffffff;
      padding-bottom 70px
      //border-bottom 1px solid #e5e5e5
      h = 38px
      h2 = 35px
      .bordertop
        width 100%
        image('border.png', 1200px,30px)
      .header
        height h
        line-height h2
        margin-bottom 15px
        display flex
        .titleblue
          margin-left 50px
          max-width 100%
          font-size 20px
          color #3463b5
          font-family "Microsoft YaHei"
          font-weight bold
      .tr
        height h
        line-height h2
        margin-bottom 15px
        display flex
        :hover
          color #3c93e3
          background-color  #e4f1fd
        .td
          flex 11.11%
          max-width 11.11%
          text-align left
          &.star
            background-color #e4f1fd
            color #303030
            border-left 2px solid  #3c93e3
            margin-left 50px
            max-width 10%
            font-size 16px
            //a
            //text-decoration none
            //color #3c93e3
            //  &.active
            //    color #3c93e3 !important
            //    background-color #e4f1fd
            //:hover
            //  color #3c93e3
            .date-info
              max-width 110px
              margin-left 10px
              margin-right 10px
              font-family "Microsoft YaHei"
              font-weight bold
          &.down
            background-color #eeeeee
            max-width 90%
            text-align left
            margin-right 50px
            font-size 16px
            .title-info
              margin-left 10px
              color #303030

