@import "../../../components/config.styl"

$notice-height = 40px
$notice-line-height = 20px
$notice-color = #ef5637
.notice-wapper
  height $notice-height
  line-height $notice-height
  box-shadow 0px 5px 10px rgba(0,0,0,0.09)
  //解决被背景色覆盖问题
  transform translate3d(0, 0, 0)
  .notice
    font-size 0
    Context()
    .line
      width 3px
      height  $notice-line-height
      margin-top (($notice-height - $notice-line-height) / 2)
      background-color $notice-color
      display inline-block
      vertical-align top
    .title
      color $notice-color
      margin-left 14px
      margin-right 18px
    .text
      color #303030
    .more
      font-size 14px
      float right
