@import "../../../components/config.styl"

.news-wapper
  Context()
  padding-bottom 70px
  .title-wapper
    text-align center
    .title
      image('title.png', 796px, 49px)
  .info-wapper
    h = 45px
    height h
    line-height h
    font-size 14px
    .more
      float right
  .news
    image('frame.png', 1160px, 339px)
    display flex
    .item
      display flex
      margin 0 25px
      padding-top 76px
      .pic
        flex-shrink 0
        width 152px
        height 201px
        background-color #008800
        border 1px solid #8ab8ff
        margin-right 15px
        position relative
        &:before
          content ''
          position absolute
          top 0
          left 15px
          image('new.png', 22px, 25px)
      .info
        max-width 170px
        .title
          font-size 14px
          font-weight bold
          text-over()
        .date
          font-size 12px
          color #8c8c8c
          margin-top 5px
          margin-bottom 10px
        .text
          font-size 12px
          color #333333
          line-height 18px
          overflow hidden
          max-height 144px
        .more
          a
            font-size 12px
            color #1e75c6
