@import "../config.styl"
.header
  position relative
  width 100%
  height 490px
  background-image("banner.png")
  $nav-bg-color = rgba(0, 0, 0, .8)
  $nav-height = 54px
  $nav-height-left = 90px
  $pic-righr-margin = 142px
  $color = #fff
  .nav-wapper
    position absolute
    top 0
    left 0
    width 100%
    color $color
    height $nav-height
    background-color $nav-bg-color
    .nav
      position relative
      Context()
      display flex
      .margin
        m-width = 475px + 20px - $pic-righr-margin
        left 0
        top $nav-height
        width m-width
        position absolute
        height $nav-height-left - $nav-height
        background-color $nav-bg-color
        left = 5000px
        margin-left - left
        border-left left solid transparent
        .triangle
          position absolute
          top 0
          left m-width
          border-width (($nav-height-left - $nav-height) / 2)
          border-style solid;
          border-color $nav-bg-color transparent transparent $nav-bg-color
      .left
        display flex
        height $nav-height-left
        padding-right $pic-righr-margin
        z-index 1
        .line
          height h = 30px
          margin (($nav-height-left - h) / 2) 30px
          border-right 2px white solid
        .dhqh_logo
          w = 117px
          h = 31px
          image("dhqh_logo.png", w, h)
          margin-top (($nav-height-left - h) / 2)
        .lhmj_logo
          w = 154px
          h = 49px
          image("lhmj_logo.png", w, h)
          margin-top (($nav-height-left - h) / 2)
      .right
        flex 1
        height $nav-height
        line-height $nav-height
        a
          margin-right 34px
        .login
          text-decoration underline
          color $a-color
