@import "../config.styl"

$nav-bg-color = rgba(0, 0, 0, .8) //背景色
$nav-height = 54px //右边行高
$nav-height-left = 90px //左边边行高
$pic-righr-margin = 142px //图片与导航间距
$color = #fff //字体颜色
$m-right = 34px //导航时间间距
$f-login = 12px //登录字体大小
$m-login = 92px //登录左边距

.header
  position relative
  height 490px
  background-image("banner.png")
  .nav-wapper
    position absolute
    top 0
    left 0
    width 100%
    color $color
    height $nav-height
    background-color $nav-bg-color
    .nav
      position relative
      Context()
      display flex
      .margin
        m-width = 475px + 20px - $pic-righr-margin
        left 0
        top $nav-height
        width m-width
        position absolute
        height $nav-height-left - $nav-height
        background-color $nav-bg-color
        left = 5000px
        margin-left - left
        border-left left solid transparent
        .triangle
          position absolute
          top 0
          left m-width
          border-width (($nav-height-left - $nav-height) / 2)
          border-style solid;
          border-color $nav-bg-color transparent transparent $nav-bg-color
      .left
        display flex
        height $nav-height-left
        padding-right $pic-righr-margin
        z-index 1
        .line
          height h = 30px
          margin (($nav-height-left - h) / 2) 30px
          border-right 2px white solid
        .dhqh_logo
          w = 117px
          h = 31px
          image("dhqh_logo.png", w, h)
          margin-top (($nav-height-left - h) / 2)
        .lhmj_logo
          w = 154px
          h = 49px
          image("lhmj_logo.png", w, h)
          margin-top (($nav-height-left - h) / 2)
      .right
        flex 1
        height $nav-height
        line-height $nav-height
        font-size 0
        a
          margin-right $m-right
          font-size $f-size
          color $color
        .login
          margin-left $m-login - $m-right
          font-size $f-login
          a
            font-size $f-login
            text-decoration underline
            color $a-color
            margin-right 0
