@import "~nib/index.styl"
$f-color = #303030
$f-size = 16px
$a-color = #3d8afe
$a-color = #3c93e3 //todo 和设计确认颜色差距不大能否用一样的
$w-context = 1200px

*
  color $f-color
  font-size $f-size
  outline 0

html
  min-width $w-context

a
  text-decoration none
  color $a-color
  &:hover
    color $a-color !important
  &.router-link-exact-active
    color $a-color !important

Context()
  width $w-context - 40px
  padding 0 20px
  margin auto

background-image($url)
  background-size cover
  background-position center center
  background-image url($url)

image($url, $width, $height)
  display inline-block
  width $width
  height $height
  background-size $width $height !important
  background-repeat no-repeat
  background-image ($url)

text-linear-gradient()
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

text-over($num)
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp $num
  -webkit-box-orient vertical
  overflow hidden
