@import "~nib/index.styl"
$f-color = #303030
$f-size = 16px
$a-color = #3c93e3
$w-context = 1200px

*
  color $f-color
  font-size $f-size
  outline 0

body {
  font-family: "Microsoft YaHei", FreeSans, Arimo, "Lucida Grande";
}

html
  min-width $w-context

a
  text-decoration none
  color $a-color
  &:hover
    color $a-color !important
  &.router-link-exact-active
    color $a-color !important

Context()
  width $w-context - 40px
  padding 0 20px
  margin auto

background-image($url)
  background-size cover
  background-position center center
  background-image url($url)

image($url, $width, $height)
  display inline-block
  width $width
  height $height
  background-size $width $height !important
  background-repeat no-repeat
  background-image ($url)

text-linear-gradient()
  display inline-block
  -webkit-background-clip text
  -webkit-text-fill-color transparent
  color green

text-over($num)
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp $num
  -webkit-box-orient vertical
  overflow hidden
