@import "../config.styl"

.footer-wapper
  background linear-gradient(right , #0c112a , #180201)
  h = 320px
  height h
  text-align center
  .footer
    margin auto
    width 1150px
    display flex
    .left
      text-align left
      .text1
        margin-top 60px
        font-size 16px
        color #fff
        margin-bottom 18px
      .text2
        margin-top 10px
        font-size 14px
        color #999999
      .text3
        margin-top 30px
        font-size 16px
        color #fff
        margin-bottom 30px
      .text4
        margin-top 10px
        font-size 14px
        color #fff
    .line
      margin-left 135px
      margin-right 139px
      flex 1
      max-width 2px
      h1 = 50px
      margin-top ((h - h1) / 2)
      height h1
      background linear-gradient(#999999 2px, transparent 0)
      background-size: auto 6px;
    .right
      flex 1
      display flex
      .item
        margin-top 60px
        margin-right 68px
        font-size 16px
        line-height 16px
        .pic1
          image('code1.png', 133px, 133px)
          margin-bottom 10px
        .pic2
          image('code2.png', 133px, 133px)
          margin-bottom 10px
        .text1
          color #df6f58
        .text2
          margin-top 6px
          color #fff
