@import "./components/config.styl"

*
  color $f-color
  font-size $f-size
  outline 0

body
  font-family: "Microsoft YaHei", FreeSans, Arimo, "Lucida Grande";

html
  min-width $w-context

a
  text-decoration none
  color $a-color
  &:hover
    color $a-color !important
  &.router-link-exact-active
    color $a-color !important
